@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #AF8BC9, #6D3993);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #8065947e;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #40334A;
    text-align: center;
    text-shadow: 1px 1px 2px #1f192448;
}

h2 {
 color: #6D567D;
}

p {
    text-align: justify;
}